.department-grid {
  display: grid;
  background-color: #373737;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.department-button {
  background-color: #373737;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.department-button:hover {
  background-color: #575757;
}

.department-link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.department-button.active {
  background-color: #0f0f0f;
  color: #cfcdcd;
}
